// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 16px;
  margin-bottom: 8px;
}

.session-form > h2{
  font-size: 24px;
  font-weight: 500;
}

.session-form > .errors{
  color: red;
  margin: 5px 0;
}

.session-form > form {
  width: 100%;
}

.session-form > form > input{
  width: 90%;
  padding: 16px;
  font-weight: 600;
  margin: 8px 0 8px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 3px;
  font-size: 14px;
}

.session-form > form > .owner {
  width: auto;
  margin-right: 10px;
}

.session-form > form > button {
  width: 85%;
  background: #da3743;
  margin: 16px 0 16px;
  padding: 14px 28px 15px;
  color: white;
  border-radius: 3px;
  border: 1px solid #b8222d;
  font-size: 22px;
  text-align: center;
}

.session-form > form > button:hover {
  background: #b8222d;
}

.session-form > p {
  margin-top: 20px;
  cursor: default;
  font-size: 16px;
}

.session-form > button {
  width: 98%;
  color: #333333;
  text-align: center;
  margin: 16px 0 0;
  padding: 10px 1px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.session-form > button:hover{
  border: 1px solid red;
}
.session-form > p > a {
  cursor: pointer;
  color: #da3743;
}

.session-form > p > a:hover {
  color: #b8222d;
}

*, :after, :before {
  box-sizing: border-box;
}