// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-show {
  border-top: 1px solid rgba(0,0,0,.12);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
}

.user-show > .user-bar{
  width: 100%;
  padding: 1.25rem 2.25rem 1.25rem 7.5rem;
  background: white;
  font-size: 32px;
}

.user-show > .user-info {
  display: flex;
}

.user-show > .user-info > .user-show-nav {
  margin-top: 30px;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.user-show > .user-info > .user-show-nav > li {
  padding-bottom: 20px;
}

.user-show > .user-info > .res-res {
  width: 70%;
}

.user-show > .user-info > .res-res > div {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  background: white;
  min-height: 250px;
  height: auto;
}

.user-show > .user-info > .res-res > .upcoming-reservations > h2 {
  font-size: 24px;
  padding: 1rem;
  border-bottom: 2px solid rgba(0,0,0,.08);
}


.user-show > .user-info > .res-res > .past-reservations > h2 {
  font-size: 24px;
  padding: 1rem;
  border-bottom: 2px solid rgba(0,0,0,.08);
}


.user-show > .user-info > .res-res > .saved-restaurants > h2 {
  font-size: 24px;
  padding: 1rem;
  border-bottom: 2px solid rgba(0,0,0,.08);
}

.reservation-block{
  margin: 2rem;
}