.home {
  display: flex;
}

.home > .home-image {
  height: 400px;
  background: image-url("home_image.jpg");
  background-size: cover;
  width: 100%;
}

.home > h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 0px #000;
  background: transparent;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  top: 200px;
  left: 450px;
}